[class="container"] {
    display: flex;
    background-color: white;
    justify-content: center;
    /* align-items: center; */
    border-radius: 3vh;
    padding: 15px;

}
@media screen and (min-width: 400px){
    .container {
        flex-direction: column;
        width: 90%;
        height: 100%;
}}

@media screen and (min-width: 700px){
    .container {
        flex-direction: row;
        height: 40vh;
        width: 80%;
    }
}

.firstBlock {
    background-color: var(--white);
}

.secondBlock {
    background-color: var(--primary-dark);
}