[class="container"] {
    display: flex;
    background-color: white;
    justify-content: center;
    /* align-items: center; */
    border-radius: 3vh;
    padding: 15px;

}
@media screen and (min-width: 400px){
    .container {
        flex-direction: column;
        width: 90%;
        height: 100%;
}}

@media screen and (min-width: 700px){
    .container {
        flex-direction: row;
        height: 40vh;
        width: 80%;
    }
}

.firstBlock {
    background-color: var(--white);
}

.secondBlock {
    background-color: var(--primary-dark);
}

.resetButton {
    height: 50%;
    width: 100%;
    align-content: center;
    display: flex;
    align-items: center;
}

.resetButton button {
    background-color: var(--n-d-cyan-1);
    color: var(--primary-dark);
    border-color: var(--n-d-cyan-1);
    border-radius: 5px;
    width: 100%;
}

.resetButton button:hover {
    background-color: var(--n-l-cyan-1);
    color: var(--primary-dark);
}